* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	margin-bottom: 10px;
}

form {
	display: flex;
	flex-direction: column;
	max-width: 380px;
	margin: 0 auto;
	background: linear-gradient(155deg, rgb(164, 164, 247), rgb(175, 175, 175));
	border-radius: 15px;
	padding: 40px 30px;
	margin-top: 50px;
}

h1 {
	text-align: center;
	color: rgb(39, 39, 86);
}

h2 {
	text-align: center;
}

label {
	font-weight: bold;
	font-size: 20px;
	color: rgb(39, 39, 86);
}

input {
	background-color: rgb(226, 226, 255);
	font-size: 16px;
}

select {
	background-color: rgb(226, 226, 255);
	font-size: 15px;
	margin-bottom: 20px;
}

#height-id,
#alter-id,
#gewicht-id {
	padding: 5px 1px;
	border-radius: 2px;
	border: none;
}
#activity-id {
	border-radius: 5px;
}

#maennlich-radio,
#weiblich-radio {
	margin-bottom: 0;
}

.label-gender {
	color: black;
	font-weight: 600;
}

.label-female {
	margin-bottom: 0;
}
.ergebnis {
	display: grid;
	grid-template-columns: auto repeat(3, 1fr);
	margin-bottom: 15px;
}

.placeholder {
	grid-column: 1/3;
	background: linear-gradient(
		to bottom,
		rgb(34, 162, 231),
		75%,
		rgb(23, 94, 157)
	);
	height: 100%;
	border-right: 1px solid white;
}

.kcal {
	grid-column: 3/4;
	background: linear-gradient(
		to bottom,
		rgb(34, 162, 231),
		75%,
		rgb(23, 94, 157)
	);
	color: white;
	align-self: center;
	margin-bottom: 0;
	border-left: 1px solid white;
	border-right: 1px solid white;
	padding-left: 2px;
	height: 25px;
}

.kJ {
	background: linear-gradient(
		to bottom,
		rgb(34, 162, 231),
		75%,
		rgb(23, 94, 157)
	);
	color: white;
	margin-bottom: 0;
	border-left: 1px solid white;
	padding-left: 2px;
}
.grundumsatz {
	grid-row: 2/3;
	grid-column: 1/3;
	background-color: white;
	width: 180px;
	border: 1px solid rgb(192, 192, 192);
	margin-bottom: 0;
	padding-left: 2px;
}
.gesammtumsatz {
	grid-row: 3/4;
	grid-column: 1/3;
	background-color: white;
	border: 1px solid rgb(192, 192, 192);
	margin-bottom: 0;
	padding-left: 2px;
}

.kcal-grundumsatz,
.kJ-grundumsatz,
.kcal-gesammtumsatz,
.kJ-gesammtumsatz {
	background-color: white;
	border: 1px solid rgb(192, 192, 192);
	margin-bottom: 0;
	padding-left: 2px;
}

.buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 3px;
}
.buttons button {
	flex: 1;
	padding: 7px 0;
	border-radius: 4px;
	border: none;
	font-size: 16px;
	font-weight: bold;
	letter-spacing: 1px;
}

.buttons button:hover {
	cursor: pointer;
	opacity: 70%;
}

.buttons button:last-of-type {
	background-color: rgb(237, 73, 73);
	color: white;
}
.buttons button:first-of-type {
	background-color: rgb(43, 169, 79);
	color: white;
}
